@charset "UTF-8";
.defaultstyle, button, ul li {
  font-weight: bold;
  font-style: italic;
}

/* Universal */
* {
  padding: 0%;
  margin: 0%;
  box-sizing: 0%;
}

/* Index o inicio  */
.boton-nosotros {
  position: fixed;
  bottom: 80px;
}

.video-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.video-container aside {
  display: block;
}
.video-container aside iframe {
  width: 560px;
  height: 315px;
}

/* Global o estilos generales */
header {
  z-index: 100;
  background: radial-gradient(circle, rgb(210, 182, 21) 0%, rgb(219, 22, 48) 100%);
  position: sticky;
  top: 0px;
  padding: 15px;
}

.titulos {
  text-align: center;
  font-size: 30px;
  color: #db163d;
  border-bottom: #db163d 1px solid;
}
.titulos h1 {
  text-align: center;
}

body {
  background-color: #ebcf3b;
  font-family: "Montserrat", sans-serif;
}

.texto {
  color: #db163d;
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
}
.texto p {
  margin: 40px 30px;
  text-align: justify;
}

.fondo-alternativo {
  background-color: rgb(135, 2, 28);
  padding-top: 50px;
  padding-bottom: 40px;
}

.fondo-original {
  padding-bottom: 40px;
  background-color: #ebcf3b;
}

footer {
  background-color: #db163d;
  padding: 20px;
}
footer ul {
  display: flex;
  justify-content: space-evenly;
}
footer ul li {
  list-style: none;
  margin: 0px 10px;
}

.bi {
  font-size: 2rem;
}
.bi:hover {
  color: white;
}

.navbar {
  width: 100%;
}
.navbar-collapse {
  flex-grow: initial;
}

.nav-link {
  color: yellow;
}
.nav-link:hover {
  color: white;
}

ul {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
ul li {
  list-style: none;
  font-size: 1.6rem;
  display: inline;
  margin: 0px 8px;
}
ul li a {
  color: #ebcf3b;
  text-decoration: none;
}

button {
  border: 1px solid;
  border-radius: 5px;
  padding: 20px;
  background-color: #ba072b;
  color: #dbff0d;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.disponibles {
  display: flex;
  flex-wrap: wrap;
  color: #db163d;
  font-size: 22px;
}

/* dentro de estilos generales: tarjetas y apartado "destacado" */
.destacados {
  margin-top: 60px;
  padding: 0 20px;
  background-color: goldenrod;
  padding-bottom: 100px;
  padding-top: 20px;
}
.destacados__titulo {
  margin-bottom: 40px;
  text-align: center;
  font-size: 30px;
}
.destacados__contenido {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}
.destacados__contenido .tarjeta {
  background-color: #db163d;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
}
.destacados__contenido .tarjeta__encabezado {
  position: relative;
}
.destacados__contenido .tarjeta__encabezado-etiqueta {
  padding: 8px;
  position: absolute;
  right: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.82);
  border-radius: 0 10px 0 10px;
  text-transform: uppercase;
}
.destacados__contenido .tarjeta__encabezado-etiqueta--destacada {
  font-weight: bold;
}
.destacados__contenido .tarjeta__encabezado-imagen {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}
.destacados__contenido .tarjeta__titulo {
  margin-bottom: 20px;
  font-size: 20px;
  color: #fff;
}
.destacados__contenido .tarjeta__descripcion {
  height: 65px;
  margin-bottom: 40px;
  color: #ffffff;
}
.destacados__contenido .tarjeta__enlace {
  background-color: #b7ad1e;
  width: 100%;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  color: #e2e8f0;
  padding: 15px 0;
  font-weight: bold;
}

/* Vuelos */
.vuelos .vuelos-disponibles__titulos-izquierda {
  margin-top: 20px;
  margin-left: 110px;
  color: #fff;
}

.boton-vuelos-izquierda {
  margin-left: 110px;
}

.vuelos-disponibles-izquierda {
  display: flex;
}
.vuelos-disponibles-izquierda-texto {
  margin-right: 110px;
  font-size: 25px;
  margin-top: -10px;
  color: #ffffff;
}

.vuelos-disponibles__titulos-derecha {
  margin-left: 1030px;
  margin-right: 277px;
  margin-top: 26px;
  margin-bottom: 20px;
}

.boton-vuelos-derecha {
  margin-left: 1030px;
}

.vuelos-disponibles-derecha {
  display: flex;
  flex-direction: row-reverse;
}
.vuelos-disponibles-derecha-texto {
  margin-right: 25px;
  margin-left: 110px;
  margin-top: 0px;
  font-size: 25px;
}

.vuelos-disponibles-imagenes {
  margin-left: 110px;
  margin-right: 110px;
  border-style: solid;
  border-color: #db163d;
  border-width: 2px;
}

/* Tours */
.tours-disponibles-margen {
  margin-top: 40px;
}
.tours-disponibles-margen .tours-titulo {
  margin-top: 20px;
  margin-left: 75px;
  font-size: 40px;
  color: red;
}
.tours-disponibles-margen .tours-texto {
  margin-left: 75px;
  margin-right: 105px;
  margin-top: 10px;
}

.fondo-alternativo .tours-titulo {
  margin-top: 20px;
  margin-left: 75px;
  font-size: 40px;
  color: white;
}
.fondo-alternativo .tours-texto-italia {
  color: #ffffff;
  margin-left: 75px;
  margin-right: 105px;
  margin-top: 10px;
}

.tours-disponibles-imagenes {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-color: #db163d;
  border-width: 3px;
}

.boton-tours {
  margin-left: 75px;
}

/* Galería */
.galeria-imagenes {
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.galeria-imagenes img {
  height: 700px;
}

/* Contacto */
.form-container {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: goldenrod;
  padding-bottom: 198px;
}
.form-container--fieldset {
  padding: 20px;
  background: #ba072b;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 1.3rem;
  font-size: 1.3rem;
  background-image: url(../imagenes/fondo-contacto.jpg);
  background-repeat: no-repeat;
}
.form-container .contact-title {
  text-align: center;
}

/* Media Queries */
/* Desktop First: Trabajo desde escritorio. Media Querie que se usa es Max-Width */
/* 768px: valor para Tablet */
@media only screen and (max-width: 768px) {
  /* Global o estilos generales */
  nav {
    justify-content: center;
  }
  ul {
    text-align: center;
  }
  ul li {
    font-size: 1.3rem;
  }
  h1 {
    font-size: 44px;
  }
  h3 {
    font-size: 37px;
  }
  p {
    margin-right: 70px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 70px;
  }
  button {
    margin-right: 110px;
  }
  .tarjeta {
    margin-left: 20px;
    margin-right: 20px;
  }
  /* Index o inicio */
  .boton-nosotros {
    bottom: 5px;
  }
  .destacados__contenido {
    grid-template-columns: 1fr;
  }
  .tarjeta__descripcion {
    height: 90px;
  }
  /* Vuelos */
  .fondo-alternativo {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    width: 768px;
  }
  .fondo-alternativo .vuelos-disponibles-izquierda {
    flex-direction: column;
  }
  .fondo-alternativo .vuelos-disponibles-izquierda-texto {
    margin-top: 10px;
    margin-left: 106px;
  }
  .fondo-original {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    width: 768px;
  }
  .fondo-original .vuelos-disponibles__titulos-derecha {
    margin-top: 20px;
    margin-left: 110px;
    margin-right: 110px;
  }
  .fondo-original .boton-vuelos-derecha {
    margin-left: 110px;
  }
  .fondo-original .vuelos-disponibles-derecha {
    flex-direction: column;
  }
  .fondo-original .vuelos-disponibles-derecha-texto {
    margin-bottom: 12px;
    margin-right: 110px;
  }
  /* Tours */
  .destacado__contenido {
    grid-template-columns: 1fr;
  }
  /* Galeria */
  .carousel-control-prev {
    justify-content: flex-end;
  }
  .carousel-control-next {
    justify-content: flex-end;
  }
  .galeria-imagenes {
    width: 80%;
  }
  .galeria-imagenes img {
    height: 550px;
  }
  /* Contacto */
  .form-container {
    padding-bottom: 254px;
  }
}
/* 576px: valor para Mobile */
@media only screen and (max-width: 576px) {
  /* Global o estilos generales */
  ul li {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 36px;
  }
  h3 {
    font-size: 30px;
  }
  p {
    font-size: 22px;
  }
  /* Index o inicio */
  .boton-nosotros {
    bottom: 84px;
  }
  .tarjeta__descripcion {
    height: 135px;
  }
  /* Vuelos */
  .fondo-alternativo {
    width: 577px;
  }
  .fondo-original {
    width: 577px;
  }
  /* Galeria */
  .galeria-imagenes img {
    height: 500px;
  }
  /* Contacto */
  .form-container {
    padding-bottom: 240px;
  }
}

/*# sourceMappingURL=style.css.map */
