// Medidas
$null: 0%;
$nullmedida: 0px;
$estandar: 20px;
$vuelosmedidaestandar: 110px;
$toursmedidaestandar: 75px;
// Colores
$gradienteamarillo: rgba(210, 182, 21, 1) 0%;
$gradienterojo: rgba(219, 22, 48, 1) 100%;
$amarillo: #ebcf3b;
$rojo: #db163d;
